doctype html
html
  head
    title= {doct}
  body
    form(action="/Mohammed" method="POST")
      input(type="text" name="message" placeholder="Enter something..." )
      input(type="submit" value="Submit")
